@import url('https://fonts.googleapis.com/css2?family=Cute+Font&family=Rubik&display=swap');

body{
display: flex;
justify-content:center;
align-content: center;
height: 100vh;
background-color: palevioletred;
}

#noButton{
    position: absolute;
    margin-left: 150px;
    transition: 0.3s;
}

#yesButton{
    position: absolute;
    margin-right: 150px;

}

.header_text{
    font-family: 'cute font';
    font-size: 80px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;

}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.btn{
    background-color: #d8344c;
    color: white;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3 ease;
}

.btn:hover{
    background-color: pink;
}
.text{
    font-family: 'cute font';
    font-weight: bold;
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0;
}



